practical-sql-main/
.DS_Store
node_modules/
package-lock.json
npm-debug.log
.prettierrc.js
Unit Zips/
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

#Environment files
/3.NodeJS/textbook_two/chapter_15/public/img

/6.Java/.idea
/6.Java/.idea/Java_Dummies_Book/.idea

.pdf
*.pdf
6.Java/Dummies_Book/.idea/uiDesigner.xml
6.Java/Dummies_Book/.idea/misc.xml
6.Java/Dummies_Book/.idea/misc.xml
6.Java/D83527GC10_labs/JavaCC.zip
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice1/06-ObjectsClasses_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice1/06-ObjectsClasses_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice2/06-ObjectsClasses_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice2/06-ObjectsClasses_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice1/06-ObjectsClasses_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice1/06-ObjectsClasses_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice2/06-ObjectsClasses_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice2/06-ObjectsClasses_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Solutions/Practice1/07-ManipulateFormat_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Solutions/Practice1/07-ManipulateFormat_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice1/08-Methods_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice1/08-Methods_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice2/08-Methods_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice2/08-Methods_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice3/08-Methods_Practice3/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice3/08-Methods_Practice3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice1/08-Methods_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice1/08-Methods_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice2/08-Methods_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice2/08-Methods_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice3/08-Methods_Solution3/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice3/08-Methods_Solution3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice1/09-EncapConstructors_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice1/09-EncapConstructors_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice2/09-EncapConstructors_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice2/09-EncapConstructors_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice1/09-EncapConstructors_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice1/09-EncapConstructors_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice2/09-EncapConstructors_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice2/09-EncapConstructors_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice1/10-Conditions_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice1/10-Conditions_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice2/10-Conditions_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice2/10-Conditions_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice1/10-Conditions_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice1/10-Conditions_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice2/10-Conditions_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice2/10-Conditions_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice1/11-ArraysLoopsDates_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice1/11-ArraysLoopsDates_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice2/11-ArraysLoopsDates_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice2/11-ArraysLoopsDates_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice1/12-UsingInheritance_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice1/12-UsingInheritance_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice2/12-UsingInheritance_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice2/12-UsingInheritance_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice1/12-UsingInheritance_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice1/12-UsingInheritance_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice2/12-UsingInheritance_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice2/12-UsingInheritance_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice1/13-UsingInterfaces_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice1/13-UsingInterfaces_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice1/13-UsingInterfaces_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice1/13-UsingInterfaces_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice2/13-UsingInterfaces_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice2/13-UsingInterfaces_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice3/13-UsingInterfaces_Solution3/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice3/13-UsingInterfaces_Solution3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Practices/Practice1/14-Exceptions_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Solutions/Practice1/14-Exceptions_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Solutions/Practice1/14-Exceptions_Solution1/dist/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Solutions/Practice1/14-Exceptions_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/15-DeployingMaintaining/solutions/15-DeployingMaintaining/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/15-DeployingMaintaining/solutions/15-DeployingMaintaining/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/target/
nbproject/
*.xml
*.properties
*.properties
/6.Java/D83527GC10_labs/labs/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
/6.Java/D83527GC10_labs/labs/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/build/
*.class
/6.Java/D83527GC10_labs/labs/14-Exceptions/Practices/Practice1/14-Exceptions_Practice1/build/
/6.Java/D83527GC10_labs/labs/15-DeployingMaintaining/solutions/15-DeployingMaintaining/dist/
/6.Java/D83527GC10_labs/labs/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/build/
/6.Java/D83527GC10_labs/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/build/
*.properties
*.xml
*.class
6.Java/D83527GC10_labs/labs/JavaCC.zip
*.iml
*.xml
6.Java/D83527GC10_labs/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/nbproject/private/private.xml
*.xml
/6.Java/IgBooks/build/
/6.Java/OCP_Preparation/build/
/6.Java/D84838GC10_labs/labs/02-Review/practices/practice1/Employee/build/
/6.Java/D84838GC10_labs/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/build/
/6.Java/D84838GC10_labs/labs/04-Polymorphism/practices/practice1/Employee04-01Prac/build/
/6.Java/D84838GC10_labs/labs/04-Polymorphism/practices/practice2/Employee04-02Prac/build/
/6.Java/D84838GC10_labs/labs/04-Polymorphism/practices/practice3/Singleton04-03Prac/build/
/6.Java/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice1/AbstractBanking05-01Prac/build/
/6.Java/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice2/EmployeeInner05-02Prac/build/
/6.Java/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice3/EnumBanking05-03Prac/build/
/6.Java/D84838GC10_labs/labs/06-Interfaces/practices/practice1/Pet06-01Prac/build/
/6.Java/D84838GC10_labs/labs/06-Interfaces/practices/practice2/InterfaceBanking06-02Prac/build/
/6.Java/D84838GC10_labs/labs/06-Interfaces/practices/practice3/LambdaBasics06-03Prac/build/
/6.Java/D84838GC10_labs/labs/07-Generics_Collections/practices/practice1/GenericsHashMap07-01Prac/build/
/6.Java/D84838GC10_labs/labs/07-Generics_Collections/practices/practice2/Stack07-02Prac/build/
/6.Java/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice1/EmployeeSearch08-01Prac/build/
/6.Java/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice2/EmployeeSearch08-02Prac/build/
/6.Java/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice3/EmployeeSearch08-03Prac/build/
/6.Java/D84838GC10_labs/labs/08-CollectionsStreamsFilters/practices/practice4/EmployeeSearch08-04Prac/build/
/6.Java/D84838GC10_labs/labs/08-CollectionsStreamsFilters/solutions/practice4/EmployeeSearch08-04Sol/build/
/6.Java/D84838GC10_labs/labs/09-LambdaBuiltIns/examples/SalesTxn09/build/
/6.Java/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice1/EmployeeSearch09-01Prac/build/
/6.Java/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice2/EmployeeSearch09-02Prac/build/
/6.Java/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice3/EmployeeSearch09-03Prac/build/
/6.Java/D84838GC10_labs/labs/09-LambdaBuiltIns/practices/practice4/EmployeeSearch09-04Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/examples/EmployeeSearch10/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice1/SalesTxn10-01Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice2/SalesTxn10-02Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice3/SalesTxn10-03Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice4/SalesTxn10-04Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice5/SalesTxn10-05Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice6/SalesTxn10-06Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice7/SalesTxn10-07Prac/build/
/6.Java/D84838GC10_labs/labs/10-LambdaOperations/practices/practice8/SalesTxn10-08Prac/build/
/6.Java/D84838GC10_labs/labs/11-Exceptions/practices/practice1/CatchingExceptions11-01/CatchingExceptions11-01/build/
/6.Java/D84838GC10_labs/labs/11-Exceptions/practices/practice2/CustomExceptions11-02Prac/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/LocalTimeExample/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/LocalDateTimeExample/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/ZoneIdOffset/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/practices/practice1/LocalDatesAndTimes12-01Prac/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/practices/practice2/DepartArrive12-02Prac/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/practices/practice3/TimeBetween12-03Prac/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/examples/ByteStreamsExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/practices/practice2/SerializeShoppingCart13-02Prac/build/
/6.Java/D84838GC10_labs/labs/14-NIO.2/practices/practice2/LambdaDirectory14-02Prac/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/LocalDateExample/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/ZonedDateTimeExample/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/OffsetDateTimeExample/build/
/6.Java/D84838GC10_labs/labs/12-DateTime/examples/DateTimeFormatterExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/examples/BufferedStreamsExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/examples/CharStreamsExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/examples/SystemInputExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/examples/ByteChannelExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/examples/SerializeStockExample/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/practices/practice1/FileScanner13-01Prac/build/
/6.Java/D84838GC10_labs/labs/13-IO_Fundamentals/solutions/practice1/FileScanner13-01Soln/build/
/6.Java/D84838GC10_labs/labs/15-Concurrency/practices/practice1/ConCount15-01Prac/build/
/6.Java/D84838GC10_labs/labs/15-Concurrency/practices/practice2/ExecutorService15-02Prac/build/
/6.Java/D84838GC10_labs/labs/16-ForkJoin/practices/practice1/ForkJoinFindMax16-01Prac/build/
/6.Java/D84838GC10_labs/labs/16-ForkJoin/practices/practice1/ForkJoinFindMax16-01Prac/dist/
/6.Java/D84838GC10_labs/labs/16-ForkJoin/solutions/practice1/ForkJoinFindMax16-01Soln/build/
/6.Java/D84838GC10_labs/labs/17-ParallelStreams/practices/practice1/SalesTxn17-01Prac/build/
/6.Java/D84838GC10_labs/labs/17-ParallelStreams/practices/practice2/SalesTxn17-02Prac/build/
/6.Java/D84838GC10_labs/labs/15-Concurrency/examples/ArrayListExample/build/
/6.Java/D84838GC10_labs/labs/15-Concurrency/examples/CyclicBarrierExample/build/
/6.Java/D84838GC10_labs/labs/15-Concurrency/solutions/practice2/ExecutorService15-02Soln/build/
/6.Java/D84838GC10_labs/labs/19-Localization/practices/practice1/Localized19-01Prac/build/
/6.Java/D84838GC10_labs/labs/16-ForkJoin/examples/ProcessorCountExample/build/
/6.Java/D84838GC10_labs/labs/19-Localization/examples/NumberFormatExample/build/

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# Created by https://www.gitignore.io/api/git,java,maven,eclipse,windows

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Some additional ignores (sort later)
*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
.exercism


## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files
*.ncb
*.aps

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml