practical-sql-main/
.DS_Store
node_modules/
package-lock.json
npm-debug.log
.prettierrc.js
Unit Zips/
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

#Environment files
/3.NodeJS/textbook_two/chapter_15/public/img

/6.Java/.idea
/6.Java/.idea/Java_Dummies_Book/.idea

.pdf
*.pdf
6.Java/Dummies_Book/.idea/uiDesigner.xml
6.Java/Dummies_Book/.idea/misc.xml
6.Java/Dummies_Book/.idea/misc.xml
6.Java/D83527GC10_labs/JavaCC.zip
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice1/06-ObjectsClasses_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice1/06-ObjectsClasses_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice2/06-ObjectsClasses_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Practices/Practice2/06-ObjectsClasses_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice1/06-ObjectsClasses_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice1/06-ObjectsClasses_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice2/06-ObjectsClasses_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/06-ObjectsClasses/Solutions/Practice2/06-ObjectsClasses_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Solutions/Practice1/07-ManipulateFormat_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/07-ManipulateFormat/Solutions/Practice1/07-ManipulateFormat_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice1/08-Methods_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice1/08-Methods_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice2/08-Methods_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice2/08-Methods_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice3/08-Methods_Practice3/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Practices/Practice3/08-Methods_Practice3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice1/08-Methods_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice1/08-Methods_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice2/08-Methods_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice2/08-Methods_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice3/08-Methods_Solution3/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/08-Methods/Solutions/Practice3/08-Methods_Solution3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice1/09-EncapConstructors_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice1/09-EncapConstructors_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice2/09-EncapConstructors_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Practices/Practice2/09-EncapConstructors_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice1/09-EncapConstructors_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice1/09-EncapConstructors_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice2/09-EncapConstructors_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/09-EncapConstructors/Solutions/Practice2/09-EncapConstructors_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice1/10-Conditions_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice1/10-Conditions_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice2/10-Conditions_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Practices/Practice2/10-Conditions_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice1/10-Conditions_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice1/10-Conditions_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice2/10-Conditions_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/10-Conditions/Solutions/Practice2/10-Conditions_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice1/11-ArraysLoopsDates_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice1/11-ArraysLoopsDates_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice2/11-ArraysLoopsDates_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/11-ArraysLoopsDates/Solutions/Practice2/11-ArraysLoopsDates_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice1/12-UsingInheritance_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice1/12-UsingInheritance_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice2/12-UsingInheritance_Practice2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Practices/Practice2/12-UsingInheritance_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice1/12-UsingInheritance_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice1/12-UsingInheritance_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice2/12-UsingInheritance_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/12-Inheritance/Solutions/Practice2/12-UsingInheritance_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice1/13-UsingInterfaces_Practice1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice1/13-UsingInterfaces_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice1/13-UsingInterfaces_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice1/13-UsingInterfaces_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice2/13-UsingInterfaces_Solution2/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice2/13-UsingInterfaces_Solution2/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice3/13-UsingInterfaces_Solution3/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/13-Interfaces/Solutions/Practice3/13-UsingInterfaces_Solution3/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Practices/Practice1/14-Exceptions_Practice1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Solutions/Practice1/14-Exceptions_Solution1/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Solutions/Practice1/14-Exceptions_Solution1/dist/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/14-Exceptions/Solutions/Practice1/14-Exceptions_Solution1/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/15-DeployingMaintaining/solutions/15-DeployingMaintaining/build/
/6.Java/D83527GC10_labs/D83527GC10/src/main/java/com/markdrinkwater/d83527gc10/labs/15-DeployingMaintaining/solutions/15-DeployingMaintaining/nbproject/private/
/6.Java/D83527GC10_labs/D83527GC10/target/
nbproject/
*.xml
*.properties
*.properties
/6.Java/D83527GC10_labs/labs/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
/6.Java/D83527GC10_labs/labs/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/build/
*.class
/6.Java/D83527GC10_labs/labs/14-Exceptions/Practices/Practice1/14-Exceptions_Practice1/build/
/6.Java/D83527GC10_labs/labs/15-DeployingMaintaining/solutions/15-DeployingMaintaining/dist/
/6.Java/D83527GC10_labs/labs/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/build/
/6.Java/D83527GC10_labs/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/build/
*.properties
*.xml
*.class
6.Java/D83527GC10_labs/labs/JavaCC.zip
*.iml
*.xml
6.Java/D83527GC10_labs/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/nbproject/private/private.xml
*.xml
/6.Java/IgBooks/build/
/6.Java/OCP_Preparation/build/
/6.Java/D84838GC10_labs/labs/02-Review/practices/practice1/Employee/build/
/6.Java/D84838GC10_labs/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/build/
/6.Java/D84838GC10_labs/labs/04-Polymorphism/practices/practice1/Employee04-01Prac/build/
/6.Java/D84838GC10_labs/labs/04-Polymorphism/practices/practice2/Employee04-02Prac/build/
/6.Java/D84838GC10_labs/labs/04-Polymorphism/practices/practice3/Singleton04-03Prac/build/
/6.Java/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice1/AbstractBanking05-01Prac/build/
/6.Java/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice2/EmployeeInner05-02Prac/build/
/6.Java/D84838GC10_labs/labs/05-Advanced_Class_Design/practices/practice3/EnumBanking05-03Prac/build/
/6.Java/D84838GC10_labs/labs/06-Interfaces/practices/practice1/Pet06-01Prac/build/
/6.Java/D84838GC10_labs/labs/06-Interfaces/practices/practice2/InterfaceBanking06-02Prac/build/
/6.Java/D84838GC10_labs/labs/06-Interfaces/practices/practice3/LambdaBasics06-03Prac/build/
/6.Java/D84838GC10_labs/labs/07-Generics_Collections/practices/practice1/GenericsHashMap07-01Prac/build/
